@font-face {
    font-family: Roobert;
    font-weight: 400;
    src: url(assets/Roobert-Regular.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 600;
    src: url(assets/Roobert-SemiBold.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 700;
    src: url(assets/Roobert-Bold.woff2) format("woff2")
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Roobert;
    color: #ffffff;
    background-color: rgb(14, 14, 16);
}

body.modal--open {
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
}

#app:has(.error) {
    animation: colorTransition 5s alternate infinite;
}

h1 {
    font-size: 54px;
}

button {
    width: 300px;
    background-color: #9146FF;
    padding: 8px;
    color: #ffffff;
    font-size: 16px;
    font-family: Roobert;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 600;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.15);
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}

.no-follow--empty {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-follow--card {
    background-color: #18181b;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px 0px, rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
    padding: 0 30px 30px 30px;
    border-radius: 16px;
    overflow: hidden;
}

.no-follow--card__img {
    display: flex;
    justify-content: flex-end;
}

.no-follow--card__img img {
    margin-right: -58px;
    margin-top: -29px;
}

.no-follow--card__button {
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.no-follow--card__button svg {
    fill: #ffffff;
    margin-right: 8px;
}

.user {
    height: calc(100% - 8px);
    padding: 4px;
    display: block;
    position: relative;
    cursor: pointer;
}

.user__hide {
    opacity: 0.2;
}

.user img {
    height: calc(100% - 4px);
    background-color: #000000;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.user--live {
    height: 16px;
    width: 16px;
    background-color: #e91916;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
}

.video--thumbnail__user .user img:hover {
    border-color: #ffffff !important;
}

.contrast .video--thumbnail__user .user img:hover {
    border-color: #000000 !important;
}

.video--thumbnail__user .user--live {
    display: none;
}

.video {
    position: absolute;
    height: calc(100% - 8px);
    max-height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    border-radius: 0 4px 4px 0;
    background-color: #9146FF;
    box-shadow: 0 0 4px #000000;
    transition: all .2s;
    z-index: 1000;
}

.video:visited {
    text-decoration: none;
    color: #fff;
}

.video:hover {
    text-decoration: none;
    color: #fff;
    width: auto !important;
    z-index: 1100;
}

.video--stream {
    border-radius: 0;
    padding-right: 32px;
}

.video.video--before:hover {
    left: 4px !important;
}

.video--thumbnail {
    position: relative;
    height: 80px;
    flex-shrink: 0;
}

.video--thumbnail__image {
    height: 100%;
    max-width: 100%;
    display: block;
}

.video--thumbnail__duration {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    margin: 5px;
    padding: 0 4px;
}

.video--thumbnail__user {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    transition: all .2s;
    z-index: 100;
    display: flex;
    align-items: flex-end;
}

.video:hover .video--thumbnail__user {
    left: 100%;
    top: calc(50% - 22px);
    bottom: calc(50% - 22px);
}

.video--thumbnail__user .user {
    height: 36px;
}

.video--thumbnail__user img {
    height: 32px;
}

.video--title {
    margin-left: 8px;
    margin-right: 8px;
    z-index: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s;
}

.contrast .video--title {
    color: #000000;
    text-shadow: 0 0 1px #444444;
}

.video:hover .video--title {
    margin-left: 44px;
    margin-right: 16px;
}

.video.video--stream:hover .video--title {
    margin-right: 32px;
}

.video--live {
    position: absolute;
    top: 4px;
    left: 149px;
    background-color: #e91916;
    border-radius: 4px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
    transition: all .2s;
}

.calendar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendar--weekpicker {
    position: absolute;
    top: -100px;
    right: 0;
    margin: 42px 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    font-variant-numeric: proportional-nums;
}

.calendar--weekpicker button {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    padding: 4px;
}

.calendar--week {
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
    position: relative;
    margin: 16px 24px 16px 16px;
    padding: 4px 4px 0 4px;
    border-radius: 4px;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.calendar--time {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 29px);
    left: 53px;
    top: -24px;
    bottom: 0;
    font-weight: 600;
    color: rgb(173, 173, 184);
}

.calendar--time > div {
    position: sticky;
    top: 8px;
    background-color: rgb(14, 14, 16);
    padding: 2px 4px;
    border-radius: 4px;
    height: 20px;
    z-index: 2000;
    font-variant-numeric: tabular-nums;
}

@media screen and (max-width: 1500px) {
  .calendar--time > div:nth-child(even) {
    display: none;
  }
}

.calendar--line__time {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    left: -2px;
    display: flex;
    justify-content: space-between;
}

.calendar--line__time > div {
    width: 0px;
    border-left-width: 2px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-color: #222222;
}

.calendar--line {
    flex: 1 1 auto;
    margin-bottom: 4px;
    display: flex;
    position: relative;
}

.calendar--line__day {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    width: 56px;
}

.calendar--line__content {
    flex: 1 1 auto;
    position: relative;
    background-color: rgb(14, 14, 16);
    overflow: hidden;
}

.settings--button {
    height: 32px;
    width: 52px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.15);
}

.settings--button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.settings--backdrop,
.settings--modal {
    position: absolute;
    z-index: 9000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.settings--backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.settings--modal {
    z-index: 9001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings--modal__title {
    margin-top: 0;
}

.settings--modal__content {
    display: flex;
    flex-direction: column;
    background-color: #18181b;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px 0px, rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
    border-radius: 16px;
    overflow: hidden;
}

.settings--modal__content form select {
    width: 100%;
}

.settings--modal__close {
    margin-top: 16px;
}

.header {
    display: flex;
    align-items: center;
    margin: 16px 24px 16px 16px;
}

.header svg {
    fill: #ffffff;
}

.header--title {
    margin: 0;
}

.header--weekpicker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.header--settings,
.header--weekpicker button {
    height: 30px;
    width: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--weekpicker p {
    width: 124px;
    text-align: center;
    font-weight: bold;
}

.header--settings {
    background-color: transparent;
}

.header--settings:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.live-list {
    height: 48px;
    margin: 0 16px 16px 16px;
    overflow: hidden;
    display: flex;
}

.live-list .user--live {
    display: none;
}

.live-list--badge {
    width: 256px;
    margin-right: 12px;
    border-radius: 4px;
    padding: 2px 12px 2px 0;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.live-list--badge.contrast {
    color: #000000;
}

.live-list--badge__data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.live-list--badge__firstline {
    display: flex;
    font-weight: 600;
}


.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--container {
    background-color: #000000;
    border-radius: 4px;
    padding: 10px 20px 30px;
}

.login--container__title {
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: 600;
    margin: 20px 0;
}

.login--container__logo {
    position: absolute;
    top: -6px;
    right: 0;
    width: 40px;
}

@keyframes colorTransition {
    0% { background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%); }
    1% { background: linear-gradient(200deg, #9146FF 35%, hsl(171, 100%, 50%) 100%); }
    2% { background: linear-gradient(200deg, #9146FF 35%, hsl(174, 100%, 50%) 100%); }
    3% { background: linear-gradient(200deg, #9146FF 35%, hsl(176, 100%, 50%) 100%); }
    4% { background: linear-gradient(200deg, #9146FF 35%, hsl(179, 100%, 50%) 100%); }
    5% { background: linear-gradient(200deg, #9146FF 35%, hsl(181, 100%, 50%) 100%); }
    6% { background: linear-gradient(200deg, #9146FF 35%, hsl(184, 100%, 50%) 100%); }
    7% { background: linear-gradient(200deg, #9146FF 35%, hsl(186, 100%, 50%) 100%); }
    8% { background: linear-gradient(200deg, #9146FF 35%, hsl(189, 100%, 50%) 100%); }
    9% { background: linear-gradient(200deg, #9146FF 35%, hsl(191, 100%, 50%) 100%); }
    10% { background: linear-gradient(200deg, #9146FF 35%, hsl(193, 100%, 50%) 100%); }
    11% { background: linear-gradient(200deg, #9146FF 35%, hsl(196, 100%, 50%) 100%); }
    12% { background: linear-gradient(200deg, #9146FF 35%, hsl(198, 100%, 50%) 100%); }
    13% { background: linear-gradient(200deg, #9146FF 35%, hsl(201, 100%, 50%) 100%); }
    14% { background: linear-gradient(200deg, #9146FF 35%, hsl(203, 100%, 50%) 100%); }
    15% { background: linear-gradient(200deg, #9146FF 35%, hsl(206, 100%, 50%) 100%); }
    16% { background: linear-gradient(200deg, #9146FF 35%, hsl(208, 100%, 50%) 100%); }
    17% { background: linear-gradient(200deg, #9146FF 35%, hsl(210, 100%, 50%) 100%); }
    18% { background: linear-gradient(200deg, #9146FF 35%, hsl(213, 100%, 50%) 100%); }
    19% { background: linear-gradient(200deg, #9146FF 35%, hsl(215, 100%, 50%) 100%); }
    20% { background: linear-gradient(200deg, #9146FF 35%, hsl(218, 100%, 50%) 100%); }
    21% { background: linear-gradient(200deg, #9146FF 35%, hsl(220, 100%, 50%) 100%); }
    22% { background: linear-gradient(200deg, #9146FF 35%, hsl(223, 100%, 50%) 100%); }
    23% { background: linear-gradient(200deg, #9146FF 35%, hsl(225, 100%, 50%) 100%); }
    24% { background: linear-gradient(200deg, #9146FF 35%, hsl(228, 100%, 50%) 100%); }
    25% { background: linear-gradient(200deg, #9146FF 35%, hsl(230, 100%, 50%) 100%); }
    26% { background: linear-gradient(200deg, #9146FF 35%, hsl(232, 100%, 50%) 100%); }
    27% { background: linear-gradient(200deg, #9146FF 35%, hsl(235, 100%, 50%) 100%); }
    28% { background: linear-gradient(200deg, #9146FF 35%, hsl(237, 100%, 50%) 100%); }
    29% { background: linear-gradient(200deg, #9146FF 35%, hsl(240, 100%, 50%) 100%); }
    30% { background: linear-gradient(200deg, #9146FF 35%, hsl(242, 100%, 50%) 100%); }
    31% { background: linear-gradient(200deg, #9146FF 35%, hsl(245, 100%, 50%) 100%); }
    32% { background: linear-gradient(200deg, #9146FF 35%, hsl(247, 100%, 50%) 100%); }
    33% { background: linear-gradient(200deg, #9146FF 35%, hsl(250, 100%, 50%) 100%); }
    34% { background: linear-gradient(200deg, #9146FF 35%, hsl(252, 100%, 50%) 100%); }
    35% { background: linear-gradient(200deg, #9146FF 35%, hsl(254, 100%, 50%) 100%); }
    36% { background: linear-gradient(200deg, #9146FF 35%, hsl(257, 100%, 50%) 100%); }
    37% { background: linear-gradient(200deg, #9146FF 35%, hsl(259, 100%, 50%) 100%); }
    38% { background: linear-gradient(200deg, #9146FF 35%, hsl(262, 100%, 50%) 100%); }
    39% { background: linear-gradient(200deg, #9146FF 35%, hsl(264, 100%, 50%) 100%); }
    40% { background: linear-gradient(200deg, #9146FF 35%, hsl(267, 100%, 50%) 100%); }
    41% { background: linear-gradient(200deg, #9146FF 35%, hsl(269, 100%, 50%) 100%); }
    42% { background: linear-gradient(200deg, #9146FF 35%, hsl(271, 100%, 50%) 100%); }
    43% { background: linear-gradient(200deg, #9146FF 35%, hsl(274, 100%, 50%) 100%); }
    44% { background: linear-gradient(200deg, #9146FF 35%, hsl(276, 100%, 50%) 100%); }
    45% { background: linear-gradient(200deg, #9146FF 35%, hsl(279, 100%, 50%) 100%); }
    46% { background: linear-gradient(200deg, #9146FF 35%, hsl(281, 100%, 50%) 100%); }
    47% { background: linear-gradient(200deg, #9146FF 35%, hsl(284, 100%, 50%) 100%); }
    48% { background: linear-gradient(200deg, #9146FF 35%, hsl(286, 100%, 50%) 100%); }
    49% { background: linear-gradient(200deg, #9146FF 35%, hsl(289, 100%, 50%) 100%); }
    50% { background: linear-gradient(200deg, #9146FF 35%, hsl(291, 100%, 50%) 100%); }
    51% { background: linear-gradient(200deg, #9146FF 35%, hsl(293, 100%, 50%) 100%); }
    52% { background: linear-gradient(200deg, #9146FF 35%, hsl(296, 100%, 50%) 100%); }
    53% { background: linear-gradient(200deg, #9146FF 35%, hsl(298, 100%, 50%) 100%); }
    54% { background: linear-gradient(200deg, #9146FF 35%, hsl(301, 100%, 50%) 100%); }
    55% { background: linear-gradient(200deg, #9146FF 35%, hsl(303, 100%, 50%) 100%); }
    56% { background: linear-gradient(200deg, #9146FF 35%, hsl(306, 100%, 50%) 100%); }
    57% { background: linear-gradient(200deg, #9146FF 35%, hsl(308, 100%, 50%) 100%); }
    58% { background: linear-gradient(200deg, #9146FF 35%, hsl(311, 100%, 50%) 100%); }
    59% { background: linear-gradient(200deg, #9146FF 35%, hsl(313, 100%, 50%) 100%); }
    60% { background: linear-gradient(200deg, #9146FF 35%, hsl(315, 100%, 50%) 100%); }
    61% { background: linear-gradient(200deg, #9146FF 35%, hsl(318, 100%, 50%) 100%); }
    62% { background: linear-gradient(200deg, #9146FF 35%, hsl(320, 100%, 50%) 100%); }
    63% { background: linear-gradient(200deg, #9146FF 35%, hsl(323, 100%, 50%) 100%); }
    64% { background: linear-gradient(200deg, #9146FF 35%, hsl(325, 100%, 50%) 100%); }
    65% { background: linear-gradient(200deg, #9146FF 35%, hsl(328, 100%, 50%) 100%); }
    66% { background: linear-gradient(200deg, #9146FF 35%, hsl(330, 100%, 50%) 100%); }
    67% { background: linear-gradient(200deg, #9146FF 35%, hsl(332, 100%, 50%) 100%); }
    68% { background: linear-gradient(200deg, #9146FF 35%, hsl(335, 100%, 50%) 100%); }
    69% { background: linear-gradient(200deg, #9146FF 35%, hsl(337, 100%, 50%) 100%); }
    70% { background: linear-gradient(200deg, #9146FF 35%, hsl(340, 100%, 50%) 100%); }
    71% { background: linear-gradient(200deg, #9146FF 35%, hsl(342, 100%, 50%) 100%); }
    72% { background: linear-gradient(200deg, #9146FF 35%, hsl(345, 100%, 50%) 100%); }
    73% { background: linear-gradient(200deg, #9146FF 35%, hsl(347, 100%, 50%) 100%); }
    74% { background: linear-gradient(200deg, #9146FF 35%, hsl(350, 100%, 50%) 100%); }
    75% { background: linear-gradient(200deg, #9146FF 35%, hsl(352, 100%, 50%) 100%); }
    76% { background: linear-gradient(200deg, #9146FF 35%, hsl(354, 100%, 50%) 100%); }
    77% { background: linear-gradient(200deg, #9146FF 35%, hsl(357, 100%, 50%) 100%); }
    78% { background: linear-gradient(200deg, #9146FF 35%, hsl(359, 100%, 50%) 100%); }
    79% { background: linear-gradient(200deg, #9146FF 35%, hsl(2, 100%, 50%) 100%); }
    80% { background: linear-gradient(200deg, #9146FF 35%, hsl(4, 100%, 50%) 100%); }
    81% { background: linear-gradient(200deg, #9146FF 35%, hsl(7, 100%, 50%) 100%); }
    82% { background: linear-gradient(200deg, #9146FF 35%, hsl(9, 100%, 50%) 100%); }
    83% { background: linear-gradient(200deg, #9146FF 35%, hsl(12, 100%, 50%) 100%); }
    84% { background: linear-gradient(200deg, #9146FF 35%, hsl(14, 100%, 50%) 100%); }
    85% { background: linear-gradient(200deg, #9146FF 35%, hsl(16, 100%, 50%) 100%); }
    86% { background: linear-gradient(200deg, #9146FF 35%, hsl(19, 100%, 50%) 100%); }
    87% { background: linear-gradient(200deg, #9146FF 35%, hsl(21, 100%, 50%) 100%); }
    88% { background: linear-gradient(200deg, #9146FF 35%, hsl(24, 100%, 50%) 100%); }
    89% { background: linear-gradient(200deg, #9146FF 35%, hsl(26, 100%, 50%) 100%); }
    90% { background: linear-gradient(200deg, #9146FF 35%, hsl(29, 100%, 50%) 100%); }
    91% { background: linear-gradient(200deg, #9146FF 35%, hsl(31, 100%, 50%) 100%); }
    92% { background: linear-gradient(200deg, #9146FF 35%, hsl(33, 100%, 50%) 100%); }
    93% { background: linear-gradient(200deg, #9146FF 35%, hsl(36, 100%, 50%) 100%); }
    94% { background: linear-gradient(200deg, #9146FF 35%, hsl(38, 100%, 50%) 100%); }
    95% { background: linear-gradient(200deg, #9146FF 35%, hsl(41, 100%, 50%) 100%); }
    96% { background: linear-gradient(200deg, #9146FF 35%, hsl(43, 100%, 50%) 100%); }
    97% { background: linear-gradient(200deg, #9146FF 35%, hsl(46, 100%, 50%) 100%); }
    98% { background: linear-gradient(200deg, #9146FF 35%, hsl(48, 100%, 50%) 100%); }
    99% { background: linear-gradient(200deg, #9146FF 35%, hsl(51, 100%, 50%) 100%); }
    100% { background: linear-gradient(200deg, #9146FF 35%, hsl(53, 100%, 50%) 100%); }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.sidebar--unfilter svg {
    fill: #ffffffbb;
}

.sidebar--twitch-logo {
    width: 42px;
    margin: 11px;
    flex-shrink: 0;
}

.sidebar--unfilter {
    height: 48px;
    width: 48px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffffbb;
}

.sidebar--userlist {
    flex: 1 1 auto;
    overflow: auto;
}

.sidebar--userlist .user {
    height: 54px;
}

.sidebar--userlist::-webkit-scrollbar {
  display: none;
}

.app {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}


.error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error--container {
    background-color: #000000;
    border-radius: 4px;
    padding: 10px 20px 30px;
}

.error--container__title {
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: 600;
    margin: 20px 0;
}

