.user {
    height: calc(100% - 8px);
    padding: 4px;
    display: block;
    position: relative;
    cursor: pointer;
}

.user__hide {
    opacity: 0.2;
}

.user img {
    height: calc(100% - 4px);
    background-color: #000000;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.user--live {
    height: 16px;
    width: 16px;
    background-color: #e91916;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
}

.video--thumbnail__user .user img:hover {
    border-color: #ffffff !important;
}

.contrast .video--thumbnail__user .user img:hover {
    border-color: #000000 !important;
}

.video--thumbnail__user .user--live {
    display: none;
}
