.calendar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.calendar--weekpicker {
    position: absolute;
    top: 0;
    right: 0;
    margin: 42px 18px 0;
}

.calendar--weekpicker button {
    width: 32px;
    margin: 0 8px;
    padding: 4px;
}

.calendar--week {
    flex: 1 1 auto;
    display: flex;
    margin: 16px;
    border-radius: 4px;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.calendar--day,
.calendar--content {
    display: flex;
    flex-direction: column;
}

.calendar--content {
    flex: 1 1 auto;
    position: relative;
}

.calendar--time {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 30px);
    left: -15px;
    top: -24px;
    font-weight: 600;
    color: rgb(173, 173, 184);
}

.calendar--content__line,
.calendar--day__element {
    flex: 1 1 auto;
    margin-top: 4px;
    margin-right: 4px;
}

.calendar--content__line:last-child,
.calendar--day__element:last-child {
    margin-bottom: 4px;
}

.calendar--content__line:nth-child(2) {
    border-radius: 0 4px 0 0;
}

.calendar--content__line:last-child {
    border-radius: 0 0 4px 0;
}

.calendar--content__line .video--first {
    margin: 4px 0;
}

.calendar--content__line .video {
    margin-bottom: 4px;
}

.calendar--day__element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.calendar--content__line {
    overflow: hidden;
    position: relative;
    background-color: rgb(14, 14, 16);
}

.calendar--content__line:nth-child(even) {
    background-color: rgb(14, 14, 16);
}
