.video {
    position: absolute;
    height: calc(100% - 8px);
    margin: 4px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    border-radius: 0 4px 4px 0;
    background-color: #9147ff;
    transition: width .2s;
}

.video:visited {
    text-decoration: none;
    color: #fff;
}

.video:hover {
    text-decoration: none;
    color: #fff;
    overflow: visible;
    width: 100% !important;
}

.video--thumbnail {
    position: relative;
    height: 100%;
}

.video--thumbnail__image {
    height: 100%;
}

.video--thumbnail__duration {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    margin: 5px;
    padding: 0 4px;
}

.video--title {
    margin-left: 8px;
}
