.video {
    position: absolute;
    height: calc(100% - 8px);
    max-height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    border-radius: 0 4px 4px 0;
    background-color: #9146FF;
    box-shadow: 0 0 4px #000000;
    transition: all .2s;
}

.video:visited {
    text-decoration: none;
    color: #fff;
}

.video:hover {
    text-decoration: none;
    color: #fff;
    width: auto !important;
    border-radius: 0;
    z-index: 1000;
}

.video--stream {
    border-radius: 0;
}

.video.video--copy:hover {
    left: 4px !important;
}

.video--thumbnail {
    position: relative;
    height: 80px;
    flex-shrink: 0;
}

.video--thumbnail__image {
    height: 100%;
    max-width: 100%;
    display: block;
}

.video--thumbnail__duration {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    margin: 5px;
    padding: 0 4px;
}

.video--thumbnail__user {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    transition: all .2s;
    z-index: 100;
    display: flex;
    align-items: flex-end;
}

.video:hover .video--thumbnail__user {
    left: 100%;
    top: calc(50% - 22px);
    bottom: calc(50% - 22px);
}

.video--thumbnail__user .user {
    height: 36px;
}

.video--thumbnail__user img {
    height: 32px;
}

.video--title {
    margin-left: 8px;
    z-index: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s;
}

.video:hover .video--title {
    margin-left: 44px;
    margin-right: 16px;
}

.video--live {
    position: absolute;
    top: 4px;
    left: 149px;
    background-color: #e91916;
    border-radius: 4px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
    transition: all .2s;
}
