.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.sidebar--unfilter svg {
    fill: #ffffffbb;
}

.sidebar--twitch-logo {
    width: 42px;
    margin: 11px;
    flex-shrink: 0;
}

.sidebar--unfilter {
    height: 48px;
    width: 48px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffffbb;
}

.sidebar--userlist {
    flex: 1 1 auto;
    overflow: auto;
}

.sidebar--userlist .user {
    height: 54px;
}

.sidebar--userlist::-webkit-scrollbar {
  display: none;
}
