.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(200deg, #9146FF 35%, hsl(169, 100%, 50%) 100%);
    animation: colorTransition 5s alternate infinite;
}

.sidebar--twitch-logo {
    width: 42px;
    margin: 11px 11px 32px;
    flex-shrink: 0;
}

.sidebar--userlist {
    /* padding: 0 4px; */
    flex: 1 1 auto;
    overflow: auto;
}

.sidebar--userlist::-webkit-scrollbar {
  display: none;
}
