@font-face {
    font-family: Roobert;
    font-weight: 400;
    src: url(../assets/Roobert-Regular.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 600;
    src: url(../assets/Roobert-SemiBold.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 700;
    src: url(../assets/Roobert-Bold.woff2) format("woff2")
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roobert;
    color: #ffffff;
    background-color: rgb(14, 14, 16);
}

#app {
    display: flex;
    flex-direction: column;
}
